# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
#create regular function 
def add_two(x):
    return x + 2

print(add_two)
add_two

<function add_two at 0x10c2fe840>

In [2]:
# lambda param: one-line function
lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x10c370f40>

In [4]:
add_two(10)

12

In [5]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)
(lambda x: x + 2)(10)

12

In [6]:
(lambda x: x + 2)(20)

22

In [9]:
num = 25
num_plus_two = (lambda x: x + 2)(num)
print(num_plus_two)
print(type(num_plus_two))

27
<class 'int'>

#### Saving to a Variable

In [14]:
named_lambda = lambda y: y**2

print(named_lambda)
print(type(named_lambda))

<function <lambda> at 0x10c371440>
<class 'function'>

In [11]:
named_lambda(10)

100

In [12]:
def my_function(y):
    return y**2

another_function = my_function

In [13]:
print(another_function)
print(type(another_function))

<function my_function at 0x10c373420>
<class 'function'>

In [ ]:
another_function(10)

#### Multiple Inputs

In [16]:
def multiply(x, y, z):
    return x * y * z

multiply(10, 11, 12)

1320

In [17]:
multiply(5, 6, 7)

210

In [18]:
# Syntax: lambda param1, param2, etc: expression
lambda x, y, z: x * y * z

In [19]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x, y, z: x * y * z)(5, 6, 7)

210

In [21]:
def accept_args(*args):
    return args

accept_args(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [22]:
lambda *args: args

In [23]:
(lambda *args: args)('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd')

In [26]:
def accept_kwargs(**kwargs):
    return kwargs
accept_kwargs(name ='Adonai', age = 26, city='Albuquerque')

{'name': 'Adonai', 'age': 26, 'city': 'Albuquerque'}

In [27]:
(lambda **kwargs: kwargs)(name ='Adonai', age = 26, city='Albuquerque')

{'name': 'Adonai', 'age': 26, 'city': 'Albuquerque'}

In [28]:
def get_evens(nums):
    output = []
    for num in nums:
        if num % 2 == 0:
            output.append(num)
    return output

get_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [32]:
lambda nums: [num for num in nums if num % 2 == 0]

In [31]:
(lambda nums: [num for num in nums if num % 2 == 0])([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

#### Passing a Function into a Function

In [33]:
def apply_to_each(a_list, f):
    '''
    Print the return value of function f applied to every element in a_list
    a_list -> list of elements to execute function f on
    f -> function to execute
    '''

    for element in a_list:
        f_return = f(element)
        print(f_return)

In [77]:
months = ["January", "February", "March", "April", "May", "June"]

#### Passing a Lambda into a Function

In [36]:
# Call the apply_to_each function, pass in a lambda function as f argument
apply_to_each(months, lambda month: month[-1])

y
y
h
l
y
e

In [37]:
apply_to_each([1, 2, 3, 4, 5], lambda x: x**2)

1
4
9
16
25

In [38]:
apply_to_each(months, lambda string: string[::-1])

yraunaJ
yraurbeF
hcraM
lirpA
yaM
enuJ

#### Returning a Function from a Function

In [40]:
state = 'Illionois'

def welcome(name):
    city = 'Chicago'
    print(f"Hello {name}, welcome to {city}, {state}")
    return city
x = welcome('Adonai')

Hello Adonai, welcome to Chicago, Illionois

In [50]:
def my_outer_function(name):
    print(f"Hello {name}")

    # Define a function - wiull be scoped to my_outer_function
    def my_inner_function():
        city = 'Honolulu'
        print(f'This is the inner function {name} from {city}')
    # Return the inner function defined here
    return my_inner_function

    # print(f'Goodbye {name} from {city}') # NameError: nam 'city' is not defined

my_outer_function

In [51]:
y = my_outer_function('Kay')

Hello Kay

In [52]:
print(y)

<function my_outer_function.<locals>.my_inner_function at 0x110971080>

In [54]:
y()

This is the inner function Kay from Honolulu

In [55]:
print(name)

NameError: name 'name' is not defined

In [57]:
def create_multiplier(num):
    def multiply(x):
        return num * x
    return multiply

In [58]:
five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x110a249a0>

In [60]:
print(five_times(10))
print(five_times(5))
print(five_times(8))

50
25
40

In [61]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.multiply at 0x110a26480>

In [62]:
print(three_times(10))
print(three_times(5))
print(three_times(8))

30
15
24

In [ ]:
four_times = create_multiplier(4)
print(four_times)

#### Returning a Lambda from a Function

In [63]:
def new_multiplier(num):
    return lambda x: num * x

In [64]:
four_times = new_multiplier(4)
print(four_times)
four_times

<function new_multiplier.<locals>.<lambda> at 0x110970220>

In [66]:
print(four_times(10))
print(four_times(5))

40
20

#### If Statements within Lambdas

In [68]:
def double_or_square(number):
    #If number is even, double it
    if number % 2 == 0:
        return number * 2
    else: 
        return number ** 2
    
    print(double_or_square(10))
    print(double_or_square(5))

In [ ]:
# Ternary: value_if_true if condition else value_if_false

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [ ]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30

# Example 2
# a = 20, b = 10, c = 5
# Output: 100

In [69]:
def calculate(a, b, c):
    return a* (b-c)

calculate(10, 5, 2)

30

In [70]:
lambda a, b, c: a * (b - c)

In [71]:
(lambda a, b, c: a * (b - c))(10, 5, 2)

30

In [72]:
(lambda a, b, c: a * (b - c))(20, 10, 5)

100

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [97]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [78]:
def apply_to_each(a_list, f):
    '''
    Append the return value of function f applied to every element in a_list
    a_list -> list of elements to execute function f on
    f -> function to execute
    '''
    new_list = []
    for element in a_list:
        f_return = f(element)
    return new_list

In [79]:
apply_to_each(months, lambda m: m[::-1])

[]

In [80]:
months2 = ['July', 'August', 'September', 'October', 'November', 'December']

In [81]:
def reverse_title_case(string):
    return string[0].lower() + string[1:].upper()
reverse_title_case('Example')

'eXAMPLE'

In [82]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)

list(map(reverse_title_case, months2))

['jULY', 'aUGUST', 'sEPTEMBER', 'oCTOBER', 'nOVEMBER', 'dECEMBER']

In [83]:
map_return = map(reverse_title_case, months2)
print(map_return)

<map object at 0x10c48e770>

In [84]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [85]:
next(map_return)

'jULY'

In [90]:
def print_when_executed(value):
    print(f'This function is being executed with the value {value} right now')
    return value + value

In [91]:
abc = map(print_when_executed, [1, 2, 3, 4, 5, 6])
print(abc)

<map object at 0x10c49c100>

In [95]:
next(abc)

This function is being executed with the value 4 right now

8

In [96]:
list(map(print_when_executed, [1, 2, 3, 4, 5, 6]))

This function is being executed with the value 1 right now
This function is being executed with the value 2 right now
This function is being executed with the value 3 right now
This function is being executed with the value 4 right now
This function is being executed with the value 5 right now
This function is being executed with the value 6 right now

[2, 4, 6, 8, 10, 12]

In [98]:
x_values = [1, 2, 3, 4, 5]
y_values = [10, 20, 30, 40, 50]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x*y

In [99]:
# the number of positional arguments required for the function should be equal to the number of iterables
# e.g. multiply takes in two arguments, so we pass in two iterables (x_values, y_values)
list(map(multiply_x_y, x_values, y_values))

NameError: name 'multiply_x_y' is not defined

In [100]:
x_values2 = [1, 2, 3, 4, 5]
y_values2 = [10, 20, 30, 40, 50, 60, 70, 80, 90]

list(map(multiply, x_values2, y_values2))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50

[10, 40, 90, 160, 250]

In [ ]:
x_values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y_values = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
nums_multiply = []

shorter = len(x_values) if len(x_values) < len(y_values) else len(y_values)

for i in range(shorter):
    return_val = multiply(x_values[i],y_values[i])
    nums_multiply.append(return_val)
    
print(nums_multiply)

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [103]:
numbers = range(1,11)
def function(number):
    for number in numbers:
        if number % 2 == 0:
           return number * 2
        else:
            return number / 2
        
        
list(map(function, numbers))

[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]

In [104]:
list(map(lambda num: num*2 if num%2==0 else num/2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [105]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [1]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']

print(names)

def starts_with_a(name):
    return name[0].upper() == 'A'

a_names_map = list(map(starts_with_a, names))
print(a_names_map)

['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']
[False, False, True, False, True, True, False, False, False]

In [2]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amy', 'Andy']

In [3]:
nums = [num for num in range(1,11)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
def remainder(num):
    # Will return the remainder of num after being divided by 3
    return num % 3

In [5]:
nums_map = list(map(remainder, nums))
print(nums_map)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [6]:
nums_filter = list(filter(remainder, nums))
print(nums_filter)

[1, 2, 4, 5, 7, 8, 10]

In [7]:
for i in range(-5, 6):
    print(i, bool(i))

-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True

#### Using Lambda's with Filter()

In [8]:
print(names)

['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']

In [9]:
b_names = list(filter(lambda name: name [0].upper() == 'B', names))
print(b_names)

['Bob', 'Billy', 'Barbara', 'Ben']

In [10]:
my_info = "I live at 123 Real Street, City, ST 12345. My phone number is (555) 555-5555"

digits = list(filter(lambda char: char.isdigit(), my_info))

#### In-Class Exercise #3 <br>
<p>Use the filter function to that take in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [ ]:
cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']
# Output: ['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [106]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [108]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

#### Syntax

In [109]:
def add_nums(x, y):
    print('='*20)
    print(f"x: {x}")
    print(f"y: {y}")
    print(f"returns: {x+y}")
    return x+y

In [110]:
result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x: 1
y: 2
returns: 3
====================
x: 3
y: 3
returns: 6
====================
x: 6
y: 4
returns: 10
====================
x: 10
y: 5
returns: 15
15

In [111]:
def find_max(a, b):
    print('='*20)
    print(f"a: {a}")
    print(f"b: {b}")    
    print(f"returns: {a if a > b else b}")
    return a if a > b else b

In [112]:
from random import randint
nums = [randint(1,50) for i in range(10)]
print(nums)

[3, 13, 24, 28, 2, 19, 44, 37, 13, 38]

In [113]:
max_val = reduce(find_max, nums)
print(max_val)

====================
a: 3
b: 13
returns: 13
====================
a: 13
b: 24
returns: 24
====================
a: 24
b: 28
returns: 28
====================
a: 28
b: 2
returns: 28
====================
a: 28
b: 19
returns: 28
====================
a: 28
b: 44
returns: 44
====================
a: 44
b: 37
returns: 44
====================
a: 44
b: 13
returns: 44
====================
a: 44
b: 38
returns: 44
44

In [114]:
max_value = nums[0]
for num in nums:
    if num > max_value:
        max_value = num
print(max_value)

44

#### Using Lambda's with Reduce()

In [117]:
print(nums)

[3, 13, 24, 28, 2, 19, 44, 37, 13, 38]

In [118]:
total = reduce(lambda x,y: x +y, nums)
print(total)

221

In [119]:
max_val = reduce(lambda a,b: a if a>b else b, nums)
print(max_val)

44

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [120]:
nums = [2, 4, 6, 8, 10]
# Output: 3840


product = reduce(lambda x,y: x*y, nums)
print(product)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

x! = x * (x-1)!



5! = 5 * 4!



4! = 4 * 3!



3! = 3 * 2!



2! = 2 * 1!



1! = 1

In [121]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")

In [122]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

Function Two Started
Function One Started
Function One Ended
Function Two Ended

#### Implementing a Base Case

In [ ]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

# factorial(x) = x * factorial(x-1)

In [124]:
def factorial(x):
    # set up base case
    if x <= 1:
        return 1
    else:
        return x * factorial(x-1)

factorial(5)

120

In [125]:
def factorial(x):
    # Set up a base case
    if x <= 1:
        print(f"factorial({x}) = 1")
        return 1
    else:
        print(f"factorial({x}) = {x} * factorial({x-1})")
        return x * factorial(x-1)
    
factorial(5)

factorial(5) = 5 * factorial(4)
factorial(4) = 4 * factorial(3)
factorial(3) = 3 * factorial(2)
factorial(2) = 2 * factorial(1)
factorial(1) = 1

120

In [126]:
def factorial_loop(x):
    i = 1
    output = 1
    while i <= x:
        output *= i
        i += 1
    return output

factorial_loop(5)

120

In [129]:
# Can also be used as a way of looping
def loop(a_list):
    if a_list:
        print(a_list[0])
        loop(a_list[1:])

loop(['red', 'orange', 'yellow', 'green', 'blue', 'indigo'])

red
orange
yellow
green
blue
indigo

In [130]:
def is_even(number):
    if number == 1:
        return False
    elif number == 2:
        return True
    else:
        return is_even(number - 2)
    
is_even(21)

False

In [131]:
is_even(44)

True

In [ ]:
# NEED SOME SORT OF BASE CASE

# def factorial(num):
#     return num * factorial(num - 1)

# factorial(3)

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [132]:
lengths = map(len, ['Brian', 'Stanton', 'Codign Temple', 'Instructor'])

print(lengths)

<map object at 0x10c49f010>

In [133]:
for item in lengths:
    print(item)

5
7
13
10

In [134]:
for item in lengths:
    print(item)

In [136]:
lengths = map(len, ['Brian', 'Stanton', 'Codign Temple', 'Instructor'])

print(lengths)

<map object at 0x10c4c8070>

In [141]:
next(lengths)

StopIteration:

In [142]:
def square_the_num(num):
    print(f'We are squaring the number {num}')
    return num**2

In [151]:
squares = map(square_the_num, [1, 2, 3, 4, 5, 6])

In [153]:
next(squares)

We are squaring the number 2

4

In [154]:
for yielded_value in squares:
    print(yielded_value)

We are squaring the number 3
9
We are squaring the number 4
16
We are squaring the number 5
25
We are squaring the number 6
36

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [159]:
def my_range_iterator(start, stop, step=1):
    while start < stop:
        yield start
        start += step

In [161]:
my_gen = my_range_iterator(10, 20)
print(my_gen)

<generator object my_range_iterator at 0x110a85220>

In [162]:
next(my_gen)

10

In [164]:
for yielded_value in my_range_iterator(100, 120):
    print(f"The value that is yielded as we loop: {yielded_value}")

The value that is yielded as we loop: 100
The value that is yielded as we loop: 101
The value that is yielded as we loop: 102
The value that is yielded as we loop: 103
The value that is yielded as we loop: 104
The value that is yielded as we loop: 105
The value that is yielded as we loop: 106
The value that is yielded as we loop: 107
The value that is yielded as we loop: 108
The value that is yielded as we loop: 109
The value that is yielded as we loop: 110
The value that is yielded as we loop: 111
The value that is yielded as we loop: 112
The value that is yielded as we loop: 113
The value that is yielded as we loop: 114
The value that is yielded as we loop: 115
The value that is yielded as we loop: 116
The value that is yielded as we loop: 117
The value that is yielded as we loop: 118
The value that is yielded as we loop: 119

In [165]:
for i in my_range_iterator(0, 100, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [176]:
def read_file(filename):
    with open(filename) as large_file:
        for line in large_file:
            yield line

file = read_file('..whiteboard.py')
print(file)

<generator object read_file at 0x110c535b0>

In [177]:
for line in file:
    print(line, end='')

FileNotFoundError: [Errno 2] No such file or directory: '..whiteboard.py'

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [31]:
places = [" ", "Argentina", " ", "San Diego", "", "  ", "", "Boston", "New York", "DC", "          "]

answer = list(filter(lambda place: place.strip(), places))
print(answer)

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name *case insensitive*...<br><b>Hint: Use the ".sort()" method or the "sorted()" function and access the key keyword argument"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [35]:
help(.sort())

SyntaxError: invalid syntax (887309941.py, line 1)

In [44]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

def last(authors):
    authors.sort(key=lambda author: author.split(" ")[-1].title())
    return authors 
print(last(authors))

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [180]:
# class Task:
#     def __init__(self, name, priority):
#         self.name = name
#         self.priority = priority

#     def __str__(self):
#         return f"{self.name} - {self.priority}"
    
#     def __repr__(self):
#         return f"<Task | {self.name}>"
    
# class ToDos:
#     def __init__(self):
#         self.tasks = [Task('Task1', 'high'), Task('Task2', 'medium'), Task('Task3', 'high'), Task('Task4', 'low')]

# my_todos = ToDos()
# print(my_todos.tasks)

[<Task | Task1>, <Task | Task2>, <Task | Task3>, <Task | Task4>]

In [181]:
# my_todos.tasks.sort(key=lambda t: 3 if t.priority == "high" else 2 if t.priority == "medium" else 1, reverse = True)
# print(my_todos.tasks)

[<Task | Task1>, <Task | Task3>, <Task | Task2>, <Task | Task4>]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [51]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

list(map(lambda place: (place[0], (9/5)*place[1]+32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p> <p>More information on the Fibonacci Sequence <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence" target="_blank">here</a>. Start the sequence with `0,1,1,...`.</p>

In [ ]:
# ex: 6 = 5   OR    10 = 34

In [ ]:
n! = n + (n+n)

In [67]:
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num - 1) + fibonacci(num - 2)
    

    I need help with this but my brain can't brain anymore tonight

SyntaxError: unterminated string literal (detected at line 10) (2980295085.py, line 10)

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to 0, then call the generator and iterate through and print the result.</p>

In [ ]:
# for i in generator(10):
#     print(i)

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

In [60]:
def generator(start, stop=0, step=1):
    while start <= stop:
        yield start**2
        start += step

for i in generator(10):
    print(i)